build
build/**/*
*.cover
.coverage
.coverage.*
docs/_build
docs/_build/**/*
docs/notebooks/*/*workspace*
docs/notebooks/*/*workspace*/**/*
.editorconfig
.git
.git/**/*
*.log
.mypy_cache
**/*.pyc
.pytest_cache
.scannerwork
test-reports
test-reports/**/*
.tox
.tox/**/*
.vscode
