include README.rst LICENSE NOTICE requirements.txt user_conf_template.yml
recursive-include docs *.rst
graft eodag/resources
recursive-include eodag *.proto
recursive-include examples *.ipynb
prune tests
