requests
python-dateutil
PyYAML
tqdm
click
sentinelsat
shapely
owslib
six
geojson
pyproj
pytz
usgs
boto3
numpy
rasterio==1.0a12
protobuf
grpcio
# To be able to do 'import concurrent.futures' in Python 2.7
futures
