.green {
    color: green;
}
table.params {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 500px;
    font-size: smaller;
}
table.params td{
    padding-top: 0;
    padding-bottom: 0;
}
table.params thead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fafafa;
}
table.params th:first-child, table.params td:first-child {
    background-color: #fafafa;
    z-index: 2;
    position: sticky;
    left: 0;
}
